<admin-layout></admin-layout>
<div id="rightSideWrapper">
    <div class="ContentBox">
        <main>
            <h2 class="text-center mt-8">FAQs</h2>
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Id</th>
                        <th>Bot Id</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let faq of faqs">
                        <tr>
                            <td>{{faq.faqId}}</td>
                            <td>

                                <p class="fw-normal mb-1">{{faq.bot.botId}}</p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{faq.question}}</p>
                            </td>
                            <td>
                                <span>{{faq.answer}}</span>
                            </td>

                            <td>
                                <button type="button" matTooltip="Edit Post" class="btn btn-link btn-sm btn-rounded">
                                    <img src="./assets/images/edit-img.png" class="w-30">
                                </button>
                                <button type="button" matTooltip="Delete" class="btn btn-link btn-sm btn-rounded">
                                    <img src="./assets/images/delete-icon.png" class="w-30">
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </main>

        <!-- <section>
                Section Content
            </section> -->



    </div>
</div>