<header class="section-header">

    <nav class="navbar navbar-dark navbar-expand p-0 bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav d-none d-md-flex mr-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/user/dashboard" data-abc="true">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about-us" data-abc="true">About Us</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact-us" data-abc="true">Contact Us</a></li>
                <li class="nav-item">
                    <div class="d-flex form-inputs w-150p">
                        <input class="form-control" type="text" placeholder="Search...">
                        <i class="bx bx-search"></i>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav d-flex align-items-center">
                <div class="d-flex d-none d-md-flex flex-row align-items-center text-white m-2">
                    <span class="shop-bag"><i class='bx bxs-shopping-bag'></i></span>
                    <div class="d-flex flex-column ms-2">
                        <span class="qty">{{time | date: "hh:mm:ss a"}}</span>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="./assets/images/user.jpeg" class="rounded-circle" width="30">
                        {{user}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" (click)="authService.logout()">
                                <img class="w-23" src="./assets/images/logout.png">Logout
                            </a></li>
                    </ul>
                </div>

            </ul> <!-- list-inline //  -->
        </div> <!-- navbar-collapse .// -->
        <!-- container //  -->
    </nav> <!-- header-top-light.// -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand d-md-none d-md-flex" routerLink="#">Categories</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="#">Electronics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Fashion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Furnitures</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mobiles
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" routerLink="#">Smart Phones</a></li>
                            <li><a class="dropdown-item" routerLink="#">Feature Phones</a></li>
                            <li><a class="dropdown-item" routerLink="#">Mobile Covers</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </nav> -->
</header>