<div class="col-sm-3 col-md-2 sidebar">
    <label>General</label>
    <ul class="list-group">
        <li class="list-group-item"><a routerLink="/admin/bot-list">BOTs</a></li>
        <li class="list-group-item"><a routerLink="/admin/faq-list">FAQs</a></li>
    </ul>
    <br>
    <label>User</label>
    <ul class="list-group">
        <li class="list-group-item"><a routerLink="/">Profile</a></li>
        <li class="list-group-item"><a routerLink="/">Posts</a></li>
        <li class="list-group-item"><a routerLink="/">Comments</a></li>
    </ul>
    <br>
    <label>Coming Soon...</label>
    <ul class="list-group">
        <li class="list-group-item"><a routerLink="/">Reports</a></li>
        <li class="list-group-item"><a routerLink="/">Chat</a></li>
    </ul>
</div>