<app-admin-left-sidebar></app-admin-left-sidebar>
<div id="rightSideWrapper">
    <app-admin-header></app-admin-header>
    <div class="ContentBox">
        <main>
            <ng-content></ng-content>
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th *ngFor="let column of uiConfig.tableColumns" class="text-capitalize">{{column.title}}</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData">
                        <ng-container *ngIf="item[uiConfig.actionItems.itemId] !== '62fccf25bf13560016f520b1'">
                            <td *ngFor="let column of uiConfig.tableColumns">
                                <div class="fw-normal mb-1">{{item[column.columnName]}}</div>
                            </td>
                            <td>
                                <div class="fw-normal mb-1">
                                    <button type="button" matTooltip="Edit Post"
                                        class="btn btn-link btn-sm btn-rounded">
                                        <img src="./assets/images/edit-img.png" class="w-30">
                                    </button>
                                    <button type="button" matTooltip="Delete"
                                        (click)="delete(item[uiConfig.actionItems.itemId])"
                                        class="btn btn-link btn-sm btn-rounded">
                                        <img src="./assets/images/delete-icon.png" class="w-30">
                                    </button>
                                </div>
                            </td>
                        </ng-container>
                        <!-- <td>
                    <p class="fw-normal mb-1">{{bot.createdAt | date: "MM/dd/yyyy"}}</p>
                </td>
                <td>
                    <span>{{bot.name}}</span>
                </td>

                <td>
                    <button type="button" matTooltip="Edit Post" class="btn btn-link btn-sm btn-rounded">
                        <img src="./assets/images/edit-img.png" class="w-30">
                    </button>
                    <button type="button" matTooltip="Delete" class="btn btn-link btn-sm btn-rounded">
                        <img src="./assets/images/delete-icon.png" class="w-30">
                    </button>
                </td> -->
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>