* {
    margin: 0px;
}

#sidebar {
    /*Strictly Necessary */
    position: fixed;
    height: 100%;
    width: 10%;
    margin: 0px;

    /*Aesthetics*/
    background: lightblue;
    border-radius: 7px;
}


#rightSideWrapper {
    /*Strictly Necessary */
    width: 90%;
    float: right;

    /*Aesthetics*/
    background: black;
}

header {
    /*Strictly Necessary */
    position: fixed;
    width: 90%;
    // margin-left: 10%;
    height: 44px;
    /*Adjust the hight to your purposes*/

    /*Aesthetics*/
    background: lightSalmon;
    border-radius: 7px;
}

.ContentBox {
    margin-top: 44px;
    /*The height of the   header*/
    display: flex;
    flex-flow: row wrap;
}

main,
section,
footer {
    /*Aesthetics*/
    background: lightgray;
    border-radius: 7px;
    margin: 5px;
    padding: 20px;
}

main {
    /*Strictly Necessary */
    height: 400px;
    order: 1;
    flex: 0 1 100%;

}

section {
    /*Strictly Necessary */
    height: 400px;
    order: 2;
    flex: 0 1 100%;

}

footer {
    /*Strictly Necessary */
    height: 10px;
    order: 3;
    flex: 0 1 100%;
    position: fixed;
    width: 90%;
    margin-left: 10%;
    bottom: 0;
}

.w-150p {
    width: 150%;
}

.w-23 {
    width: 23px;
}